@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #2e3440;
  color: #d8dee9;
  font-family: "JetBrains Mono", "Fira Code", "Courier New", Courier, monospace;
}

a {
  color: #88c0d0;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
a.nord-site {
  color: #a3be8c;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  max-height: 30%;
}
